$base-red : #870000;
$old-base : rgb(221,68,34);
$wrapper-border : darken(@base-red,5%) ;
$page-bg : rgba(223, 209, 155, 0.85);

$paragraph-font : 'Hind Vadodara', sans-serif;
$title-font : 'Alice', serif;
$sub-title-font : 'Karma', serif;
$fantasy-font :'Slabo 27px', serif;

$light-text : #fff;
$dark-text : #000;