@import (reference) "../vars";

/*styles for news highlight on homepage*/
#news-highlight
{
  margin-right: 5px;
  margin-left: 5px;

  .read-more
  {
    text-align: right;
    padding-right: 5px;
    border-left: 2px solid @base-red;
    border-right: 2px solid @base-red;
    border-bottom: 2px solid @base-red;
    margin-bottom: 10px;
    font-size: 10pt;
    letter-spacing: 1px;
    line-height: 1.4em;
  }

  .news-highlight
  {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }

  .header
  {
    background-color: @base-red;
    color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
    border-left: 2px solid @base-red;
    border-right: 2px solid @base-red;
    border-top: 2px solid @base-red;
    margin-top: 10px;
    padding-right: 10px;
    text-transform: capitalize;
  }

  .excerpt
  {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    height: auto;
    border-left: 2px solid @base-red;
    border-right: 2px solid @base-red;
    border-top: 2px solid @base-red;
    text-align: justify;
  }

  .news-timestamp
  {
    text-align: right;
    margin-top: -5px;
    margin-bottom: 1px;
    font-size: 10pt;
  }
}
/*end styles for the news-highlight on homepage*/
