@import (reference) "../vars";

/*styles form the pengumuman highlights on homepage*/
#pengumumanHighlights
{
  .pengumuman {

    .item-ruler {
      :last-child {
        width:20%;
      }
    }
  }
  .horizontal-ruler
  {
    width:100%;
    height:2px;
    background: @base-red;
  }

  .title-ruler
  {
    position: relative;

    height: 2px;
    background: darken(@base-red, 10%);
    width: 98%;
  }

  .item-ruler
  {
      position: relative;
      left:0px;
      margin-left: -15px;
      //margin-right: -15px;
      height: 3px;
      background: @base-red;
  }

  > .row
  {
    margin-left: 0px;


    > [class^="col-"]
    {
      padding-right: 0px;

      >.row > hr
      {

      }
    }
  }



  margin-left: 25px;
  margin-right: 10px;

  margin-bottom: 15px;

  padding-left: 0;
  padding-right: 0;

  border:1px solid @base-red;

  .rounded-border-top-left; .rounded-border-top-right;
  .rounded-border-bottom-left; .rounded-border-bottom-right;

  hr
  {
    position: relative;
    width: 100%;
    //border: 1px solid white;
  }
  h2
  {
    .rounded-border-top-left;
    .rounded-border-top-right;

    padding-top:10px;
    padding-bottom: 5px;
    padding-left: 15px;

    margin-top:0;
    margin-bottom: 0;

    background-color: @base-red;

    color: white;
    font-family: @paragraph-font;
    font-size: 20px;
    font-weight: bolder;

  }
  h3
  {
    font-size: 14px;
    font-weight: bold;
  }
}
/*end styles form the pengumuman highlights on homepage*/