
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This file will contain the meta block -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>Home - Sistem Informasi Gereja Katolik</title>


    <!--Calendar Headstyle -->
    <link media="all" type="text/css" rel="stylesheet" href="http://sigkat2.0.ta/css/bootstrap-datepicker.css">

    <!--end Calendar headStyle -->

    <!-- pengumuman Sidebar headStyles -->

    <!-- end pengumuman Sidebar headStyles -->

    <!--main Navigation headStyles -->
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!--end mainNavigation headStyles -->

    <!-- common headStyles Start-->

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/plugins.css" rel="stylesheet">
    <link href="/css/blocks.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sigkat.css" rel="stylesheet">
    <link href="/css/offcanvas.css" rel="stylesheet">


    <!-- end common headStyles -->


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


</head>
<body>

<div class="container" id="pageWrapper">             <div class="pull-right visible-xs visible-sm tog-button">
    <button type="button" class="btn btn-xs" data-toggle="offcanvas">sidebar</button>
</div>

    <div class="row" id="toolbar">
        <div class="col-xs-12 col-md-4 col-sm-8">
            <p style="display: block;">
                <a href="http://sigkat2.0.ta/user/login">Login</a> / <a name="name">Daftar</a>
            </p>
        </div>
        <div class="col-xs-12 col-md-5 visible-lg">
        </div>
        <div class="col-xs-12 col-md-3 col-sm-4">
            <input type="text" class="form-control visible-lg visible-sm-inline visible-md visible-xs-inline-block" placeholder="Search..." id="searchBox">
        </div>
    </div>

    <div class="row" id="banner">
        <img src="/images/banner.png" width="100%" />
    </div>

    <div class="row" id="navbar">
        <div class="col-xs-12 col-md-12" id="mainNavi">
            <div class="btn-group">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
            </div>

            <div class="btn-group">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forum <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-toggle="dropdown">Action</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Another action</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-toggle="dropdown">Separated link</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">    Sakramen <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-toggle="dropdown">Action</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Another action</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-toggle="dropdown">Separated link</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">    Kategorial <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-toggle="dropdown">Action</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Another action</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-toggle="dropdown">Separated link</a>
                    </li>
                </ul>
            </div>

            <div class="btn-group">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">    Stasi St. Joseph <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="#" data-toggle="dropdown">Action</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Another action</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="dropdown">Something else here</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-toggle="dropdown">Separated link</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row" id="content">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="container-fluid col-xs-12 col-md-9" id="dataCol">
                <div class="row" id="carousel">
                    <div class="container-fluid" style="text-align: center">
                        <div id="homeCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->

                            <ol class="carousel-indicators">
                                <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>

                                <li data-target="#homeCarousel" data-slide-to="1"></li>

                                <li data-target="#homeCarousel" data-slide-to="2"></li>

                                <li data-target="#homeCarousel" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->

                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/images/carousel/01.jpg" alt="" />
                                    <div class="carousel-caption">
                                        <h3>Slide 1 title</h3>
                                        <p>Slide 1 description.</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="/images/carousel/02.jpg" alt="" />
                                    <div class="carousel-caption">
                                        <h3>Slide 2 title</h3>
                                        <p>Slide 2 description.</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="/images/carousel/03.jpg" alt="" />
                                    <div class="carousel-caption">
                                        <h3>Slide 3 title</h3>
                                        <p>Slide 3 description.</p>
                                    </div>
                                </div>

                                <div class="item">
                                    <img src="/images/carousel/04.jpg" alt="" />
                                    <div class="carousel-caption">
                                        <h3>Slide 4 title</h3>
                                        <p>Slide 4 description.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Controls -->

                            <a class="left carousel-control" href="#carousel1" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
                            <a class="right carousel-control" href="#carousel1" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
                        </div>
                    </div>        </div>

                <div class="row" id="news-highlight"><!--row for news highlight-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 news-highlight">
                            <div class="row header">
                                <h3>
                                    Et id sunt facere pl
                                </h3>
                                <h4 class="news-timestamp">
                                    06-01-2016
                                </h4>
                            </div>
                            <div class="row excerpt">
                                <p>
                                    Exercitationem quas minus pariatur cumque molestiae aut sint. Excepturi et dolor sit aut hic. Aliquid et illum quo voluptatem ea. Delectus nisi cupidi...
                                </p>
                            </div>
                            <div class="row read-more">
                                <a href="http://">Read More...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 news-highlight">
                            <div class="row header">
                                <h3>
                                    Corporis veritatis v
                                </h3>
                                <h4 class="news-timestamp">
                                    06-01-2016
                                </h4>
                            </div>
                            <div class="row excerpt">
                                <p>
                                    Consequatur quia sunt occaecati ex eligendi porro nisi. Sequi sapiente in est vel nulla odio. Nulla sit ducimus sequi accusantium. Et quaerat aut dign...
                                </p>
                            </div>
                            <div class="row read-more">
                                <a href="http://">Read More...</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 news-highlight">
                            <div class="row header">
                                <h3>
                                    Cupiditate dolorem c
                                </h3>
                                <h4 class="news-timestamp">
                                    05-01-2016
                                </h4>
                            </div>
                            <div class="row excerpt">
                                <p>
                                    Minima quia laborum nihil ad. Est ut et molestias qui eos. Quam sunt aut non libero. Autem cumque id repudiandae eum aliquid in.
                                    Maxime nisi sint est ...
                                </p>
                            </div>
                            <div class="row read-more">
                                <a href="http://">Read More...</a>
                            </div>
                        </div>
                    </div>
                </div><!--end row for news highlight-->

                <div class="row" id="pengumuman-highlight"><!--row for pengumuman highlight-->
                    <div class="container-fluid" id="pengumumanHighlights">
                        <h2>Pengumuman Terakhir</h2>
                        <div class="horizontal-ruler"></div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="row">
                                    <div class="col-xs-9 col-md-9">
                                        <h3>Animi alias voluptatum quia.</h3>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <h3 align="right">26-02-2016</h3>
                                    </div>
                                    <hr/>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <p>Quo voluptatum tempora voluptatibus iste delectus. Id consequatur omnis harum debitis. Quis fugiat vel nesciunt. Omnis assumenda dignissimos maxime voluptas aut iusto.

                                            Inventore error nihil quo. Voluptatem voluptatum recusandae qui similique. A deserunt sit nulla.

                                            Quis quaerat et quas sunt. Non as...</p>
                                        <hr/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9 col-md-9">
                                        <h3>Quas deserunt nostrum voluptas laudantium corporis error.</h3>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <h3 align="right">16-02-2016</h3>
                                    </div>
                                    <hr/>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <p>Aliquam et commodi consequuntur dolorem omnis ad aut nobis. Voluptate doloribus excepturi voluptas at omnis et. Atque voluptates velit accusantium minima. Vel cum labore enim modi repellendus dolorem. Sit ut vel culpa perspiciatis et quibusdam.

                                            Necessitatibus dolor nesciunt repellat tempore quis do...</p>
                                        <hr/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-9 col-md-9">
                                        <h3>Rem consequuntur facilis dignissimos incidunt.</h3>
                                    </div>
                                    <div class="col-xs-3 col-md-3">
                                        <h3 align="right">08-02-2016</h3>
                                    </div>
                                    <hr/>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12">
                                        <p>Qui animi sunt ea accusantium est. Ut ut architecto qui minus ex dicta occaecati odit. Necessitatibus aperiam debitis temporibus quo. Aspernatur eum voluptas officiis qui rerum quo.

                                            Saepe eligendi atque vitae fugiat repellendus. Amet dolorem odio voluptates voluptas. Atque veniam culpa quis blandit...</p>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row for pengumuman highlight-->

                <div class="row" id="forum-highlight"><!--row for forum highlight-->
                    <div class="container-fluid" id="forumHighlights" style="border: 1px solid #870000; border-top: 3px solid #870000; border-radius: 20px;">
                        <div class="row header">
                            <h3>Kiriman Forum Gereja Terbaru</h3>
                        </div>
                        <div class="horizontal-ruler"></div>
                        <div class="row">
                            <div class="container-fluid">
                                <h4 style="display: block;">
                                    <small style="display: inline-block;">
                                        [Topic]
                                    </small>
                                    Nostrum doloremque ullam esse.
                                </h4>
                                <div class="horizontal-ruler topic-divider"></div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-12 col-xs-12">
                                            <h5>
                                                <small>[kat]</small>Error quasi cum repudiandae deleniti aut.
                                            </h5>
                                            <div class="row">
                                                <div class="col-md-8 col-xs-8 poster-name">
                                                    <p class="">
                                                        Connelly.Oceane
                                                    </p>
                                                </div>
                                                <div class="col-md-4 col-xs-4 post-time">
                                                    <p class="">
                                                        at: 29-12-2015 [05:58:17]
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="horizontal-ruler in-post-line " style="display: block;"></div>
                                                <p>
                                                    Molestiae voluptatem tenetur tempore laborum. Iure occaecati et nihil sit et sit.

                                                    Eos eaque adipisci unde tempore rerum dolorem corporis. Id hic inventore ut earum vel vero qui. Dolorum nihil possimus velit fuga cumque quisquam reiciendis animi. In optio tenetur esse quod deleniti placeat qui. Et quia hic rem qui.

                                                    Debitis ea quia aut sit praesentium. Dolores voluptate magnam et nulla molestiae s...
                                                </p>
                                                <div class="horizontal-ruler in-post-line " style="display: block;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid">
                                <h4 style="display: block;">
                                    <small style="display: inline-block;">
                                        [Topic]
                                    </small>
                                    Suscipit voluptatum dolorum corporis.
                                </h4>
                                <div class="horizontal-ruler topic-divider"></div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-12 col-xs-12">
                                            <h5>
                                                <small>[kat]</small>Error quasi cum repudiandae deleniti aut.
                                            </h5>
                                            <div class="row">
                                                <div class="col-md-8 col-xs-8 poster-name">
                                                    <p class="">
                                                        Herman.Harley
                                                    </p>
                                                </div>
                                                <div class="col-md-4 col-xs-4 post-time">
                                                    <p class="">
                                                        at: 29-12-2015 [03:51:15]
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="horizontal-ruler in-post-line " style="display: block;"></div>
                                                <p>
                                                    Laboriosam ipsam consequatur eum voluptas numquam aut. Dignissimos soluta quidem odit voluptas. Sed sapiente est et.

                                                    Perferendis iure possimus laboriosam dolores. Eaque atque debitis nisi voluptate beatae inventore. Officia consequatur adipisci et enim et voluptas eos sit.

                                                    Voluptas asperiores sed eos nesciunt. Hic aut voluptatem odio praesentium sed et non quae. Repellendus ut dolorem aperiam mi...
                                                </p>
                                                <div class="horizontal-ruler in-post-line " style="display: block;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container-fluid">
                                <h4 style="display: block;">
                                    <small style="display: inline-block;">
                                        [Topic]
                                    </small>
                                    Iste voluptatum laudantium.
                                </h4>
                                <div class="horizontal-ruler topic-divider"></div>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-12 col-xs-12">
                                            <h5>
                                                <small>[kat]</small>Qui similique sit placeat sapiente.
                                            </h5>
                                            <div class="row">
                                                <div class="col-md-8 col-xs-8 poster-name">
                                                    <p class="">
                                                        Casper.Ali
                                                    </p>
                                                </div>
                                                <div class="col-md-4 col-xs-4 post-time">
                                                    <p class="">
                                                        at: 29-12-2015 [00:47:27]
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="horizontal-ruler in-post-line " style="display: block;"></div>
                                                <p>
                                                    Consequatur veritatis quae non numquam qui sit. Voluptatem enim neque doloremque maxime. Aperiam quibusdam nesciunt ex distinctio maxime adipisci sit. Ut maxime rerum rerum reiciendis.

                                                    Vitae repellendus est tempora molestias earum vitae recusandae. Quo ex blanditiis quia consequatur id. Hic quam eaque culpa quia minima optio beatae. Excepturi quo autem voluptatem numquam. Omnis ut occaecati inven...
                                                </p>
                                                <div class="horizontal-ruler in-post-line " style="display: block;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--row for forum highlight-->



                'This Test me included'
                'again'
            </div>

            <div class="container-fluid col-xs-12 col-md-3 sidebar-offcanvas"><!-- Start sidebar-offcanvas -->
                <div id="sidebarCol"><!--Start sidebarCol -->
                    <!-- generalSidebar start -->    <div id="generalSidebar"> <!--General Sidebar -->
                        <div id="calendar"><!--Calendar Start -->
                            <div class="row"><!--calendar header-->
                                <div class="header">
                                    Kalender Kegiatan
                                </div>
                            </div><!--end calendar header-->

                            <div class="row">
                                <div class="content">
                                    <div id="calendarSidebar"></div>
                                </div>
                            </div>
                        </div><!--Calendar End -->

                        <div id="pengumumanSidebar"><!--pengumuman Sidebar Start -->
                            <div class="row"><!--pengumuman header start -->
                                <div class="header">
                                    Pengumuman Terbaru
                                </div>
                            </div><!--pengumuman header end -->
                            <div class="row"><!--pengumuman content start-->
                                <div class="content">
                                    <ul>
                                        <li>
                                            <h3>Pengumuman1</h3>
                                            <span>excerpt1</span>
                                        </li>
                                        <li>
                                            <h3>Pengumuman1</h3>
                                            <span>excerpt1</span>
                                        </li>
                                        <li>
                                            <h3>Pengumuman1</h3>
                                            <span>excerpt1</span>
                                        </li>
                                    </ul>
                                </div>
                            </div><!--pengumuman content end -->
                        </div><!--pengumuman Sidebar end -->
                    </div><!--end General Sidebar -->
                    <!-- generalSidebar end -->
                </div><!--end sidebarCol -->
            </div><!-- end sidebar-offcanvas -->
        </div>
    </div><!-- closing Content -->
    <div class="row" id="footer">
        <!--<div class="col-md-12 col-xs-12 col-sm-12">-->
        <div>
            <p>Copyright Gabriel Fermy Aswinta &copy; 2015</p>
        </div>
    </div><!--end Footer -->
</div> <!--Closing for PageWrapper -->

<!--
this is the footer of the html
it will contain eveything that need to be placed in the page
right outside the body tag and before html tag
-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<script src="/js/offcanvas.js"></script>


<!--Calendar Footscript -->
<script src="http://sigkat2.0.ta/js/bootstrap-datepicker.js"></script>

<script src="http://sigkat2.0.ta/js/bootstrap-datepicker.id.min.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#calendarSidebar').datepicker({
            startDate: "01/01/1980",
            endDate: "12/31/2016",
            todayBtn: true,
            language: "id",
            keyboardNavigation: false,
            todayHighlight: true
        });

    });
</script>
<!-- end calendar footscript -->

<!-- pengumuman Sidebar footScript -->

<!-- end pengumuman Sidebar footScript -->


</body>
</html>
